body {
    background-color : rgba(32, 123, 32, .6);
    font-size        : 14px;
}

.alert {
    transform  : translateY(-5rem);
}

.alert-show-message {
    animation-name: show-alert-message;
    animation-duration: 4s;
}

@keyframes show-alert-message {
    0% {
        transform  : translateY(-5rem);
    }
    20% {
        transform  : translateY(0);
    }
    80% {
        transform  : translateY(0);
    }
    100% {
        transform  : translateY(-5rem);
    }
}

.outer {
    position : absolute;
    height   : 100%;
    width    : 100%;
}

.inner {
    position   : absolute;
    top        : 50%;
    margin-top : -12.5rem;
    height     : 25rem;
    width      : 100%;
}

.card {
    box-shadow : 0 0 10px 0 rgba(100, 100, 100, 1);
    width      : 19rem;
    height     : 25rem;
}

.card-refresh {
    position  : absolute;
    right     : 0;
    margin    : -1.1rem -0.6rem 0 0;
    padding   : 0 1rem;
    font-size : 1.2rem;
    color     : rgba(120, 120, 120, 1);
}

.card-refresh:hover {
    color  : rgba(0, 0, 0, 1);
    cursor : pointer;
}

.card-block:first-child {
    border-bottom : 1px solid rgba(230, 230, 230, 1);
    height        : 11rem;
}

.card-block:nth-child(2) {
    height : 5rem;
}

.weather-icon {
    font-size   : 9rem;
    line-height : 13rem;
    margin-top  : -1rem;
}

.weather-temp-type {
    cursor        : pointer;
    border-bottom : 1px dotted rgba(100, 100, 100, 1);
}